{% extends 'base.html.twig' %}

{% block site_nav_active 'admin' %}
{% block site_nav_main_menu_active 'forum_categories' %}
{% block title 'title.manage_forum_categories'|trans %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: categories}, with_context=false) }}
{% endblock head %}

{% block body %}
  <h1 class="page-heading">{{ 'title.manage_forum_categories'|trans }}</h1>

  <p role="navigation">
    <a href="{{ path('create_forum_category') }}" class="button">{{ 'nav.new_category'|trans }}</a>
  </p>

  {% embed '_layouts/table.html.twig' with { items: categories } %}
    {% block header %}
      <th class="table__shrink">{{ 'label.name'|trans }}</th>
      <th>{{ 'label.title'|trans }}</th>
      <th class="table__shrink"></th>
    {% endblock header %}

    {% block row %}
      <td class="table__shrink"><a href="{{ path('forum_category', {name: item.name}) }}">{{ item.name }}</a></td>
      <td>{{ item.title }}</td>
      <td class="table__shrink">
        <a href="{{ path('edit_forum_category', {name: item.name}) }}" class="button button--small inline">
          {{- 'action.edit'|trans -}}
        </a>
      </td>
    {% endblock row %}
  {% endembed %}
{% endblock body %}
