.subscribe-button {
  background: transparent;
  border: none;
  border-radius: 0;
  display: flex;
  padding: 0;

  &.inline {
    display: inline-flex;
  }

  &__label,
  &__subscriber-count {
    background: var(--bg);
    border: solid 1px var(--fg-border);
    color: var(--fg);
    padding: var(--padding-v) var(--padding-h);
    transition: background-color .3s, border-color .3s, color .3s;
  }

  &__label {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    margin-right: 2px;
  }

  &__subscriber-count {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    min-width: 8ch;
    padding-left: 0;
    padding-right: 0;
  }

  &--subscribe {
    --bg: transparent;
    --fg: var(--link);
    --fg-border: var(--link);
  }

  &:not(.button--small) {
    --font-size: 1rem;
  }

  &:focus,
  &:hover {
    --fg: var(--fg-active);
    --fg-border: transparent;
  }

  &__dummy-label {
    display: block;
    height: 0;
    visibility: hidden;
  }
}
